<menu-list></menu-list>

<body>
    <div ng-controller="transactionsController">
        <div class="container-fluid">
            <div class="form-group">
                <label for="status" class="col-sm-3 control-label">Spend Category</label>
                <div class="col-sm-9">
                  <select class="form-control" name="spends" id="spends"
                    ng-options="category for category in categories" ng-model="category">
                    <option value="">--Select Category--</option>
                  </select><br /><br />
                </div>
            </div>
            <div class="col-xs-6">
                    <label for="status" class="col-sm-3 control-label">Time Range</label>
                    <div class="col-sm-9">
                            <select name="type" ng-model="option" ng-dropdown required ng-change="getTimeRangeData(option)" ng-options="option.type for option in options">
                                </select>
                                <div ng-show="option.type==='periodic'">
                                        <br>
                                        <p>Start Date <input type="date" class="form-control" id="date" name="date" ng-model="startDate" required></p>
                                        <p>End Date <input type="date" class="form-control" id="date" name="date" ng-model="endDate" required></p>
                                        <button type="submit" ng-click="getTimeRangeData(option)" class="btn btn-primary">Search</button>
                                </div>
                    </div>

                </div>
                <h3>
                    <font color="007bff">User Transactions</font>
                </h3>
                <div class="container">
                    <table class="table">
                        <!--Body content-->
                        <!-- <ul> -->
                            <thead>
                                <tr ng-show="transactions">
                                    <th>Customer</th>
                                    <th>Transction Description</th>
                                    <th>Spend Category</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Payment Type</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="transaction in transactions | itemsPerPage: 6">
                                    <td>{{transaction.customerId}}</td>
                                    <td>{{transaction.description}}</td>
                                    <td>{{transaction.spendCategory}}</td>
                                    <td>{{transaction.amount}}</td>
                                    <td>{{transaction.date | date }}</td>
                                    <td>{{transaction.paymentType}}</td>
                                    <td>{{transaction.balance}}</td>
                                </tr>
                            </tbody>
                        <!-- </ul> -->
                    </table>
                    <dir-pagination-controls
                    max-size="3"
                    direction-links="true"
                    boundary-links="true" >
                </dir-pagination-controls>
                    <!-- <div data-pagination="" data-num-pages="$ctrl.numOfPages()" 
                    data-current-page="$ctrl.curPage" data-max-size="$ctrl.maxSize"  
                    data-boundary-links="true"></div> -->
                    <!--  			totalItems: totalItems,
			currentPage: currentPage,
			pageSize: pageSize,
			totalPages: totalPages,
			startPage: startPage,
			endPage: endPage,
			startIndex: startIndex,
			endIndex: endIndex,
			pages: pages-->
                    <!-- <ul ng-if="$ctrl.filteredPets.length" class="pagination">
                        <li ng-class="{disabled:$ctrl.pager.currentPage === 1}">
                            <a ng-click="$ctrl.setPage(1)">First</a>
                        </li>
                        <li ng-class="{disabled:$ctrl.pager.currentPage === 1}">
                            <a ng-click="$ctrl.setPage($ctrl.pager.currentPage - 1)">Previous</a>
                        </li>
                        <li ng-repeat="page in $ctrl.pager.pages" ng-class="{active:$ctrl.pager.currentPage === page}">
                            <a ng-click="$ctrl.setPage(page)">{{page}}</a>
                        </li>                
                        <li ng-class="{disabled:$ctrl.pager.currentPage === $ctrl.pager.totalPages}">
                            <a ng-click="$ctrl.setPage($ctrl.pager.currentPage + 1)">Next</a>
                        </li>
                        <li ng-class="{disabled:$ctrl.pager.currentPage === $ctrl.pager.totalPages}">
                            <a ng-click="$ctrl.setPage($ctrl.pager.totalPages)">Last</a>
                        </li>
                    </ul>
             -->
                </div>
        </div>

    </div>
</body>
